# Default values for web-grid.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

logLevel: info,hyper=warn,warp=warn,sqlx=warn,tower=warn,h2=warn

service:
  type: ClusterIP
  port: 80

config:
  redis:
    storageClassName: emptyDir
  gangway:
    # Maximum number of cached service endpoints
    cacheSize: 1000
    # Maximum number of concurrent, pending session creation requests.
    # When more requests arrive, the oldest ones will be terminated.
    # In reality, this variable is only here to cap the memory usage and not to actively control the requests.
    # When you are hitting this limit you should probably start scaling horizontally instead.
    pendingRequestLimit: 25000
  orchestrator:
    # Number of concurrent sessions allowed *per* orchestrator replica
    permits: 5
  node:
    # Maximum duration (in seconds) the webdriver may take until it reports a ready state.
    startupTimeout: 15
    # Idle timeout (in seconds) which is in effect until the first client request is received.
    # This allows the session to terminate early if the client no longer has any interest in the session
    # or it itself ran into a local timeout (e.g. due to prolonged queueing).
    # After the first request from a client has been received, the regular idle-timeout is taking effect.
    initialTimeout: 30
    # If no WebDriver client request is received within the specified period (in seconds), the node will terminate.
    # Each incoming request resets the countdown.
    idleTimeout: 120
    # Screen resolution for sessions
    resolution: 1920x1080

# recording:
#   # Consult the ffmpeg documentation on how these parameters work
#   # https://trac.ffmpeg.org/wiki/Encode/H.264
#   quality:
#     crf: 46
#     maxBitrate: 450000

replicaCount:
  gangway: 1
  manager: 1
  orchestrator: 1

image:
  repository: webgrid
  # Defaults to Chart.AppVersion if not set
  tag: ""
  pullPolicy: Always
  pullSecret: ""

serviceAccount:
  # Specifies whether a service account with RBAC should be created
  create: true
  # Annotations to add to the service account
  annotations: {}
  # The name of the service account to use.
  # If not set and create is true, a name is generated using the fullname template
  name: ""

resources:
  redis: {}
  gangway: {}
  manager: {}
  orchestrator: {}
  node:
    limits:
      memory: 3000Mi
    requests:
      cpu: "1"
      memory: 3000Mi

nodeSelector:
  redis: {}
  gangway: {}
  manager: {}
  orchestrator: {}
  node: {}

tolerations:
  redis: []
  gangway: []
  manager: []
  orchestrator: []
  node: []

affinity:
  redis: {}
  gangway: {}
  manager: {}
  orchestrator: {}
  node: {}
